defaults/flow.json
[{"id":"f4a0a940.8eab18","type":"http in","z":"deb0d57.1c46528","name":"GET /api/healthz","url":"/healthz","method":"get","upload":false,"swaggerDoc":"","x":166.5,"y":41,"wires":[["a8cd39da.1fa508"]]},{"id":"8e0695b9.9b4d38","type":"http response","z":"deb0d57.1c46528","name":"","statusCode":"","headers":{},"x":490,"y":40,"wires":[]},{"id":"a8cd39da.1fa508","type":"change","z":"deb0d57.1c46528","name":"OK","rules":[{"t":"set","p":"payload","pt":"msg","to":"OK","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":40,"wires":[["8e0695b9.9b4d38"]]}]